.bSuite {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 100px;
}
input[type="submit"]:disabled,
input[type="button"]:disabled {
  background-color: rgba(128, 128, 128, 0.37);
}

article {
  width: 500px;
}
img {
  transition: transform 0.3s;
}
img:hover {
  transform: scale(1.06);
}

#resume {
  display: none;
}
textarea {
  font: 1em sans-serif;

  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

textarea {
  vertical-align: top;

  height: 5em;
}

.nbStock {
  width: 40px;
}

.error {
  color: rgb(255, 0, 0);
}

.reussite {
  color: rgb(4, 167, 4);
}

.panier {
  color: rgb(4, 167, 4);
  margin-left: auto;
  margin-right: auto;
}
