html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(145, 207, 231);
  font-family: Noto Sans, sans-serif;
}

#logo {
  max-height: 50px;
  float: left;
  margin-left: 20px;
}
header {
  height: 70px;
  padding: 5px;
  padding-top: 20px;
}
menu {
  background-color: whitesmoke;
  padding: 25px;
  text-align: center;
  float: left;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0px 40px 40px 0px;
}

#accueil {
  background-image: url("../img/pied.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  text-align: center;
}
#partieArticle {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(145, 207, 231);
  align-items: center;
  justify-content: center;
}

article {
  width: 450px;
  height: 300px;
  margin: 15px;
  background-color: rgb(10, 152, 199);
  transition: transform 0.5s;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
}

article:hover {
  transform: scale(1.06);
}

.titre {
  color: #ffffffb2;
  text-shadow: 2px 2px 4px #000000;
  font-size: 130%;
}

.synopsis {
  color: #ffffffb2;
  font-size: 80%;
  width: 200px;
  height: 60px;
  overflow: auto;
  display: none;
}

#resume {
  display: none;
}
.genre {
  color: #ffffffb2;
  font-size: 80%;
}

.intro {
  color: black;
  text-align: left;
  font-size: 100%;
  display: block;
}

.input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.imgArticle {
  height: 250px;
  width: 170px;
  margin-top: 25px;
  float: left;
  border-radius: 10px;
}
.descrip {
  float: left;
  margin-left: 30px;
  text-align: center;
  width: 250px;
  height: 300px;
  text-align: center;
}

#slogan {
  font-size: 60px;
  padding-top: 200px;
  font-weight: 900;
  padding-left: 500px;
  padding-right: 300px;
}
#slogan1 {
  border: 4mm ridge rgb(255, 0, 0);
  background-color: white;
}
#barsearch {
  max-width: 200px;
}
ul {
  padding: 0;
  margin: 0;
  margin-left: 23%;
  list-style-type: none;
}
li {
  margin-left: 5px;
  float: left;
  border-radius: 25px;
}
ul li a {
  display: block;
  float: left;
  background-color: #002e85;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 1em;
}
ul li a:hover {
  background-color: #0063c0;
}

footer {
  width: 100%;
  background-color: grey;
  color: whitesmoke;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

form {
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 600px;
  text-align: center;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;

  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

textarea {
  vertical-align: top;

  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}

.nbStock {
  width: 40px;
}

.error {
  color: rgb(255, 0, 0);
}
